doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",contents="width=device-width,initial-scale=1.0")
        title="home page"
        link(rel="stylesheet",href="assets/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet",href="assets/css/Google-Style-Text-Input.css")
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css")
        link(rel="stylesheet",href="assets/css/Navigation-Clean1.css")
        link(rel="stylesheet",href="assets/css/styles.css")
    body
        div(data-aos="fade-up")
            nav(class="navbar navbar-default navigation-clean") 
                div(class="container")
                    div(class="navbar-header")
                        a(class="navbar-brand navbar-link" href="#") Digital Thyroidologist
                        button(class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navcol-1")
                            span(class="sr-only") Toggle navigation
                            span(class="icon-bar")
                            span(class="icon-bar")
                            span(class="icon-bar")
                    div(class="collapse navbar-collapse",id="navcol-1")
                        ul(class="nav navbar-nav navbar-right")
                            li(role="presentation")
                                a(href="#") Help
                            li(role="presentation")
                                a(href="#") About
        <br />
        <br />
        <br />
        div(class="container",data-aos="fade-up")
            div(class="row")
                div(class="col-lg-6 col-lg-offset-0 col-md-12")
                    div(class="group")
                        input(type="text",required)
                        span(class="highlight")
                        span(class="bar")
                        label T3-resin uptake test (%)
                    div(class="group")
                        input(type="text",required)
                        span(class="highlight")
                        span(class="bar")
                        label Total serum thyroxin
                    div(class="group")
                        input(type="text",required)
                        span(class="highlight")
                        span(class="bar")
                        label Total serum triiodothyronine
                    div(class="group")
                        input(type="text",required)
                        span(class="highlight")
                        span(class="bar")
                        label Basal thyroid-stimulating hormone
                    div(class="group")
                        input(type="text",required)
                        span(class="highlight")
                        span(class="bar")
                        label Maximal absolute difference of TSH
                    button(class="btn btn-default",type="button",id="diagnose") diagnose
                div(class="col-lg-6 col-md-12")
                    div(class="jumbotron")
                        img(src="assets/img/thyroid.jpg",width="100",height="100")
                        h2(class="display-4") Thyroid Disease Classifier
                        p(class="lead") A deep learning approach to thyroid disease diagnosis. Enter data to get a diagnosis.
                div(class="col-lg-4 col-lg-offset-2 col-md-12")
                    a(href="#",id="result",style="font-size:45px;")
    script(src="assets/js/jquery.min.js")
    script(src="assets/bootstrap/js/bootstrap.min.js")
    script(src="assets/js/bs-animation.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
    script(src="assets/js/script.js")
